body {
  font-family: Arial, sans-serif;
  background-color: #9b9b9b;
  margin: 0;
  padding: 0;
  color: #000000;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.navbar {
  background-color: #333;
  overflow: hidden;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 20px;
  max-width: 400px;
  text-align: center;
}

.card h2 {
  font-size: 2em;
  margin: 10px 0;
}

.timer-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-controls input {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 1em;
  width: 80px;
  text-align: center;
}

.timer-controls button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
}

.timer-controls button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

button {
  padding: 12px 20px;
  margin: 5px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}

input {
  padding: 12px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.settings-panel {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 400px;
}

.settings-panel h2 {
  margin-bottom: 20px;
}

.settings-panel label {
  display: block;
  margin-bottom: 10px;
}

.settings-panel input[type="number"],
.settings-panel select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.settings-panel button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.settings-panel button:hover {
  background-color: #0056b3;
}